# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

RoomEscape/Binaries/

RoomEscape/Intermediate/

RoomEscape/Saved/

RoomEscape/Content/StarterContent/

*.VC.db

RoomEscape/RoomEscape\.VC\.VC\.opendb
